---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Full-Stack Developer with 8+ years of experience in software engineering,
    web development, and application architecture. Proficient with various
    programming languages, frameworks, CMS platforms, and design technology. I
    am lucky to be working in a field I love!
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Arts"
      subtitle="2011 -- 2015 at Thomas Aquinas College, Santa Paula California, USA."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Slalom</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Fullstack developer and architect for a national financial institution"
      subtitle="From 2021 to 2023 in Boston, Massachusetts"
      desc="Developed frontend application and design-system with React. Created and maintained Spring Boot microservices. Architected cloud native systems in AWS."
    />
    <TimeLineElement
      title="Fullstack developer for a software company"
      subtitle="From 2020 to 2020 in Boston, Massachusetts"
      desc="Developed a framework agnostic set of software tools for data analysis."
    />
    <TimeLineElement
      title="Fullstack developer for global consulting company"
      subtitle="From 2020 to 2020 in Boston, Massachusetts"
      desc="Developed microservices with Spring Boot and AWS Cloud technology. Developed frontend applications with React."
    />
    <TimeLineElement
      title="Frontend developer global consulting company"
      subtitle="From 2019 to 2020 in Boston, Massachusetts"
      desc="Developed an React frontend application for a knowledge management system."
    />
    <br />
    <div class="mb-5">
      <div class="text-2xl w-full font-bold">CapTech Ventures</div>
    </div>
    <TimeLineElement
      title="Frontend developer at a Supply chain solutions company"
      subtitle="From 2018 to 2019 in Atlanta, Georgia"
      desc="Developed an angular frontend application for a supply chain management system."
    />
    <TimeLineElement
      title="Backend developer at a national healthcare company"
      subtitle="From 2018 to 2018 in Atlanta, Georgia"
      desc="Assisted in design and development of custom Java Rules Engine for healthcare assessment application."
    />
    <TimeLineElement
      title="Fullstack developer at a major shoe retailer"
      subtitle="From 2017 to 2018 in Atlanta, Georgia"
      desc="Developed Node JS APIs to interact with frontend application. Managed Infrastructure on Google Cloud (Kubernetes, App Engine, etc). Developed and Architected Frontend Application with Angular."
    />
    <br />
    <div class="mb-5">
      <div class="text-2xl w-full font-bold">Grupp Digital</div>
    </div>
    <TimeLineElement
      title="Drupal developer, Front end developer at a startup"
      subtitle="From 2015 to 2017 in Ventura, California"
      desc="Designed, developed and maintained web applications with WordPress and Drupal."
    />
    <TimeLineElement
      title="Front end developer at a startup"
      subtitle="From 2014 to 2015 in Ventura, California"
      desc="Developed custom web front ends for headless applications using Angular JS."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        AWS Solutions Architect: Associate</a
      >
    </li>
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        AWS Cloud Practitioner</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>Java</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Spring</li>
    <li>Spring Boot</li>
    <li>Node.js</li>
    <li>AngularJS</li>
    <li>Angular</li>
    <li>Vue</li>
    <li>React</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Tailwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Drupal</li>
    <li>Webflow</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Agile</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>Figma</li>
  </ul>

  <script>
    const callback = function (entries) {
      entries.forEach((entry, i) => {
        if (entry.isIntersecting) {
          entry.target
            .querySelector(".experience__data")
            .classList.add("animate-fadeIn");
          setTimeout(() => {
            entry.target
              .querySelector(".education__dot")
              .classList.add("animate-pulsing-dot");
          }, 500);

          if (entry.target.previousElementSibling) {
            entry.target.previousElementSibling
              .querySelector(".education__line")
              .classList.add("animate-growing-line");
          }
        }
      });
    };

    const observer = new IntersectionObserver(callback, { threshold: 1.0 });

    const targets = document.querySelectorAll(".js-show-on-scroll");
    targets.forEach(function (target) {
      target.querySelector(".education__line").classList.add("h-0");
      observer.observe(target);
    });
  </script>
</BaseLayout>
