---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import Code from "../components/Code.astro";
import Projects from "../components/Projects.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">
      I'm <span class="text-white">Luke Joliat</span>
    </div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer and Entrepreneur
    </div>
    <div class="py-2">
      <text class="text-lg">
        I am a Full-Stack Developer with 8+ years of experience in software
        engineering, web development, and application architecture. Proficient
        with various programming languages, frameworks, CMS platforms, and
        design technology. I am lucky to be working in a field I love!
      </text>
    </div>
    <div class="mt-8 flex flex-col md:block">
      <a class="btn" href="https://twitter.com/luke_joliat" target="_blank">
        Let's connect!</a
      >
      <a
        href="https://www.upwork.com/freelancers/~012758f242ebedf82f"
        target="_blank"
        class="btn btn-outline mt-5 md:ml-5 md:mt-0"
      >
        Find me on Upwork</a
      >
    </div>
  </div>

  <Code />

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10">
      My last projects {"</>"}
    </div>
  </div>

  <Projects />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  <>
    <HorizontalCard
      title={"Get Amped about Amplify!"}
      img={"/amp.jpg"}
      desc={"An exploration of Amazon’s platform for building “sophisticated cloud-powered apps."}
      url={"https://medium.com/slalom-technology/get-amped-about-amplify-7354c751e6d4"}
      target="_self"
    />
    <div class="divider my-0"></div>
  </>

  <>
    <HorizontalCard
      title={"Do we still need JavaScript frameworks?"}
      img={"/frameworks.jpg"}
      desc={"I investigate just how easy it is to develop a complex front end application without a front end framework."}
      url={"https://medium.com/free-code-camp/do-we-still-need-javascript-frameworks-42576735949b"}
      target="_self"
    />
    <div class="divider my-0"></div>
  </>

  <>
    <HorizontalCard
      title={"Gatsby: The ultimate guide with examples"}
      img={"/gatsby-js-tutorial.jpg"}
      desc={"Everything you need to know about the popular React-based framework."}
      url={"https://blog.logrocket.com/gatsby-ultimate-guide-examples/"}
      target="_self"
    />
    <div class="divider my-0"></div>
  </>

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
