---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Luke Joliat
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    Made with
    <a href="https://astro.build" target="_blank" class="font-bold"
      >Astro <img class="inline-block h-6" src="/astro.svg" />
    </a>
  </div>
</footer>
<style>

</style>
