---
import HorizontalCard from "./HorizontalCard.astro";
---

<HorizontalCard
  title="Animated toolbar with React Hooks"
  img="/animated-toolbar.jpg"
  desc="Created an animated toolbar using custom hooks to craft advanced animations."
  url="https://codesandbox.io/p/sandbox/proximity-scaler-l4tmsq"
  badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Animated Landing Page Demo."
  img="/matte.webp"
  desc="A fully responsive landing page demonstration made with React and Tailwind. Animations using Framer Motion."
  url="https://codesandbox.io/p/github/lukejoliat/matte-landing-page/master?layout=%257B%2522sidebarPanel%2522%253A%2522EXPLORER%2522%252C%2522rootPanelGroup%2522%253A%257B%2522direction%2522%253A%2522horizontal%2522%252C%2522type%2522%253A%2522PANEL_GROUP%2522%252C%2522id%2522%253A%2522ROOT_LAYOUT%2522%252C%2522panels%2522%253A%255B%257B%2522type%2522%253A%2522PANEL_GROUP%2522%252C%2522direction%2522%253A%2522horizontal%2522%252C%2522id%2522%253A%2522EDITOR%2522%252C%2522panels%2522%253A%255B%257B%2522type%2522%253A%2522PANEL%2522%252C%2522panelType%2522%253A%2522TABS%2522%252C%2522id%2522%253A%2522clitpwjxz000b3b6pforgxx04%2522%257D%255D%252C%2522sizes%2522%253A%255B100%255D%257D%252C%257B%2522type%2522%253A%2522PANEL_GROUP%2522%252C%2522direction%2522%253A%2522horizontal%2522%252C%2522id%2522%253A%2522DEVTOOLS%2522%252C%2522panels%2522%253A%255B%257B%2522type%2522%253A%2522PANEL%2522%252C%2522panelType%2522%253A%2522TABS%2522%252C%2522id%2522%253A%2522clitpwjxz000d3b6pxffhjavj%2522%257D%255D%252C%2522sizes%2522%253A%255B100%255D%257D%255D%252C%2522sizes%2522%253A%255B35.03811037194647%252C64.96188962805353%255D%257D%252C%2522tabbedPanels%2522%253A%257B%2522clitpwjxz000b3b6pforgxx04%2522%253A%257B%2522tabs%2522%253A%255B%257B%2522id%2522%253A%2522clitpwjxz000a3b6pjr9ckpno%2522%252C%2522mode%2522%253A%2522permanent%2522%252C%2522type%2522%253A%2522FILE%2522%252C%2522filepath%2522%253A%2522%252Ftailwind.config.js%2522%252C%2522state%2522%253A%2522IDLE%2522%257D%255D%252C%2522id%2522%253A%2522clitpwjxz000b3b6pforgxx04%2522%252C%2522activeTabId%2522%253A%2522clitpwjxz000a3b6pjr9ckpno%2522%257D%252C%2522clitpwjxz000d3b6pxffhjavj%2522%253A%257B%2522id%2522%253A%2522clitpwjxz000d3b6pxffhjavj%2522%252C%2522tabs%2522%253A%255B%257B%2522type%2522%253A%2522TASK_LOG%2522%252C%2522taskId%2522%253A%2522dev%2522%252C%2522id%2522%253A%2522clitpwsm4008i3b6p7g0ts2v5%2522%252C%2522mode%2522%253A%2522permanent%2522%257D%252C%257B%2522type%2522%253A%2522TASK_PORT%2522%252C%2522taskId%2522%253A%2522dev%2522%252C%2522port%2522%253A5173%252C%2522id%2522%253A%2522clitpwvdc00el3b6pn9306ske%2522%252C%2522mode%2522%253A%2522permanent%2522%252C%2522path%2522%253A%2522%252F%2522%257D%255D%252C%2522activeTabId%2522%253A%2522clitpwvdc00el3b6pn9306ske%2522%257D%257D%252C%2522showDevtools%2522%253Atrue%252C%2522showSidebar%2522%253Atrue%252C%2522sidebarPanelSize%2522%253A15%257D"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Fullscreen layout animation with Framer"
  img="/fullscreen-books.jpg"
  desc="Created a shared layout animation typical of native applications with Framer Motion."
  url="https://codesandbox.io/s/fullscreen-books-fi4u6e"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Notes App With Apollo And React"
  img="/notes-app.png"
  desc="Created a notes app with Apollo and React. Utilizes realtime updates with event batching."
  url="https://github.com/lukejoliat/apple-notes-apollo"
/>
