---
import HorizontalCard from "./HorizontalCard.astro";
---

<HorizontalCard
  title="Fullscreen layout animation with Framer"
  img="/fullscreen-books.png"
  desc="Created a shared layout animation typical of native applications with Framer Motion."
  url="https://codesandbox.io/s/fullscreen-books-fi4u6e"
  badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Notes App With Apollo And React"
  img="/notes-app.png"
  desc="Created a notes app with Apollo and React. Utilizes realtime updates with event batching."
  url="https://github.com/lukejoliat/apple-notes-apollo"
/>
